---
http_interactions:
- request:
    method: get
    uri: https://api.yelp.com/v2/business/emerald-city-fish-and-chips-seattle
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="OFuS_es--gU4WgPN0xES8g", oauth_nonce="554144b91d34a9e64fcf6adb0271ac26",
        oauth_signature="sCF7Qz%2BaOW%2BE6G6hr8afp%2B5uYaI%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1463950649", oauth_token="3HBWJFKfS_8QI-4Oh2e1l02B84R7Jes6",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Node:
      - api_com
      - web35-r6-sfo2
      X-Mode:
      - ro
      X-Proxied:
      - extlb8-r11-sfo2
    body:
      encoding: ASCII-8BIT
      string: '{"is_claimed": true, "rating": 4.0, "mobile_url": "http://m.yelp.com/biz/emerald-city-fish-and-chips-seattle?utm_campaign=yelp_api\u0026utm_medium=api_v2_business\u0026utm_source=OFuS_es--gU4WgPN0xES8g",
        "rating_img_url": "https://s3-media4.fl.yelpcdn.com/assets/2/www/img/c2f3dd9799a5/ico/stars/v1/stars_4.png",
        "review_count": 168, "name": "Emerald City Fish \u0026 Chips", "rating_img_url_small":
        "https://s3-media4.fl.yelpcdn.com/assets/2/www/img/f62a5be2f902/ico/stars/v1/stars_small_4.png",
        "url": "http://www.yelp.com/biz/emerald-city-fish-and-chips-seattle?utm_campaign=yelp_api\u0026utm_medium=api_v2_business\u0026utm_source=OFuS_es--gU4WgPN0xES8g",
        "categories": [["Fish \u0026 Chips", "fishnchips"], ["Seafood", "seafood"],
        ["Sandwiches", "sandwiches"]], "menu_date_updated": 1461367203, "reviews":
        [{"rating": 5, "excerpt": "Fast, delicious and very affordable. \n\nNot the
        best in town but pretty damn good. \n\nThey have some really good deals on
        cod and salmon. \n\nPlus there''s...", "time_created": 1458677353, "rating_image_url":
        "https://s3-media1.fl.yelpcdn.com/assets/2/www/img/f1def11e4e79/ico/stars/v1/stars_5.png",
        "rating_image_small_url": "https://s3-media1.fl.yelpcdn.com/assets/2/www/img/c7623205d5cd/ico/stars/v1/stars_small_5.png",
        "user": {"image_url": "http://s3-media2.fl.yelpcdn.com/photo/KAjjds8VQ7C9j_hqZaSZGw/ms.jpg",
        "id": "zqZN7C6M0ybbHUclJttmlw", "name": "Matthew A."}, "rating_image_large_url":
        "https://s3-media3.fl.yelpcdn.com/assets/2/www/img/22affc4e6c38/ico/stars/v1/stars_large_5.png",
        "id": "Dqv0NYNg5Wsu2T97oQJYwA"}], "phone": "2067603474", "snippet_text": "Fast,
        delicious and very affordable. \n\nNot the best in town but pretty damn good.
        \n\nThey have some really good deals on cod and salmon. \n\nPlus there''s...",
        "image_url": "https://s3-media3.fl.yelpcdn.com/bphoto/1HHsIopsUezmGi7fPR3NOw/ms.jpg",
        "snippet_image_url": "http://s3-media2.fl.yelpcdn.com/photo/KAjjds8VQ7C9j_hqZaSZGw/ms.jpg",
        "display_phone": "+1-206-760-3474", "rating_img_url_large": "https://s3-media2.fl.yelpcdn.com/assets/2/www/img/ccf2b76faa2c/ico/stars/v1/stars_large_4.png",
        "menu_provider": "eat24", "id": "emerald-city-fish-and-chips-seattle", "is_closed":
        false, "location": {"cross_streets": "Charlestown St \u0026 S 33rd Ave", "city":
        "Seattle", "display_address": ["3756 Rainier Ave S", "Mount Baker", "Seattle,
        WA 98144"], "geo_accuracy": 8.0, "neighborhoods": ["Mount Baker"], "postal_code":
        "98144", "country_code": "US", "address": ["3756 Rainier Ave S"], "coordinate":
        {"latitude": 47.57002, "longitude": -122.29063}, "state_code": "WA"}}'
  recorded_at: Sun, 22 May 2016 20:57:29 GMT
recorded_with: VCR 3.0.2
