<% if current_user %>
	<h3>Enter a word or phrase to get a pairing!</h3>
		<%= form_tag search_path do %>
 			<%= text_field_tag(:term) %>
 			<%= submit_tag("Search") %>
		<% end %>
<% end %>

<h3>Top 20 Pairings!</h3>
<%= render 'shared/suggestion' %>