<% if current_user %>
	<h3 class="sub-headings">Enter a word or phrase to get a pairing!</h3>
		<%= form_tag search_path do %>
 			<%= text_field_tag(:term, class: "search-form") %>
 			<%= submit_tag("Search", class: "btn btn-info btn-lg") %>
		<% end %>
<% end %>

<h3 class="sub-headings">Top 20 Pairings!</h3>
<%= render 'shared/suggestion' %>